<% var rootlink = config.root; %> 
<footer id="footer">
    <div class="footer-wrap">
        <div>
            © <%= theme.footer.since %> - <%= date(Date.now(), "YYYY") %> <%= config.title %>
            <span class="footer-icon">
                <i class="fa-solid fa-font-awesome fa-fw"></i>
            </span>
            @<%= config.author %>
        </div>
        <div></div>
        <div>Based on the <a href="https://hexo.io/">Hexo Engine</a> & <a
                href="https://github.com/argvchs/hexo-theme-particlex">ParticleX Theme</a></div>
        <% if (theme.footer.ICP.enable) { %>
        <div>
            备案号：<a href="https://icp.gov.moe/?keyword=hatsuyuki.eu.org">
                <%= theme.footer.ICP.code %>
            </a>
        </div>
        <% } %>
        <p id="hitokoto">
            <a href="#" id="hitokoto_text">:D 获取中...</a>
          </p>
          <script>
            fetch('https://v1.hitokoto.cn')
              .then(response => response.json())
              .then(data => {
                const hitokoto = document.querySelector('#hitokoto_text')
                hitokoto.href = `https://hitokoto.cn/?uuid=${data.uuid}`
                hitokoto.innerText = data.hitokoto
              })
              .catch(console.error)
          </script>          
          <img src="https://count.kjchmc.cn/get/@hatsuyuki.eu.org?theme=rule34" alt="Moe Counter">
          <a href="https://www.travellings.cn/go.html" target="_blank" rel="noopener" title="开往-友链接力">
              <img src="https://www.travellings.cn/assets/logo.gif" alt="开往-友链接力" width="120">
          </a>
    </div>
</footer>
